.container {
  font-family: Georgia, serif;
  box-sizing: border-box;
  border: 30px solid white;
  border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><defs><linearGradient id='redgradient'><stop offset='0' stop-color='%23FFC14D'/><stop offset='0.362' stop-color='%23FF4834'/><stop offset='1' stop-color='%233B0300'/></linearGradient></defs><g id='Layer_1'><path d='M0,0 L50,0 L50,50 L0,50 L0,0 z' fill='url(%23redgradient)' width='100%' height='100%'/></g></svg>")
    10% stretch;
  .button-field {
    background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
    border: 0;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
      sans-serif;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }

  .button-field:not([disabled]):focus {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
      -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
      0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
  }

  .button-field:not([disabled]):hover {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
      -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
      0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
  }
  .sections {
    display: flex;
    margin: 2rem;
    .field {
      text-align: center;
      width: 100%;
    }

    .category {
      .list-selected-genres {
        color: black;
      }
      .all-genre {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: space-between;
        margin-top: 20px;
        padding: 20px;
        background-color: black;
        color: white;
        border-radius: 10px;
      }
      .filter-tag {
        cursor: pointer;
      }
      .first-line {
        background-color: white;
        border-radius: 10px;
      }
    }
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .movie {
      flex: 1 0 21%;
      text-align: center;
      border-radius: 10px;
      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
      margin: 10px;
      .movie-info {
        padding-top: 10px;
        padding-bottom: 20px;
        .text-movie {
          padding-bottom: 10px;
        }

        .favourite-button {
          background-color: #ffffff;
          border: 0;
          border-radius: 0.5rem;
          box-sizing: border-box;
          color: #111827;
          font-family: "Inter var", ui-sans-serif, system-ui, -apple-system,
            system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
            sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
            "Noto Color Emoji";
          font-weight: 600;
          line-height: 1.25rem;
          padding: 0.75rem 1rem;
          text-align: center;
          text-decoration: none #d1d5db solid;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
            0 1px 2px 0 rgba(0, 0, 0, 0.06);
          cursor: pointer;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
        }

        .favourite-button:hover {
          background-color: rgb(239, 243, 24);
        }

        .favourite-button:focus {
          outline: 2px solid transparent;
          outline-offset: 2px;
        }

        .favourite-button:focus-visible {
          box-shadow: none;
        }
      }

      img {
        padding: 20px;
      }
    }
  }
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 30px;
    .current-page {
      border-radius: 50%;
      border: 3px solid #ef4765;
      padding: 15px;
    }
    .page {
      cursor: pointer;
    }
    .disabled {
      cursor: not-allowed;
      background: grey;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    border: 10px solid white;
    width: 61.5%;
    border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><defs><linearGradient id='redgradient'><stop offset='0' stop-color='%23FFC14D'/><stop offset='0.362' stop-color='%23FF4834'/><stop offset='1' stop-color='%233B0300'/></linearGradient></defs><g id='Layer_1'><path d='M0,0 L50,0 L50,50 L0,50 L0,0 z' fill='url(%23redgradient)' width='100%' height='100%'/></g></svg>")
      5% stretch;
  }
  .sections {
    width: 62.5%;
    flex-direction: column;
    align-items: center;
    .button-field {
      display: flex;
      margin-top: 5px;
      width: 100%;
      height: 10px;
      align-items: center;
      font-size: 7px;
      span {
        display: flex;
      }
    }
    .all-genre {
      width: auto;
      height: 600px;
      font-size: 6px;
      align-items: flex-start;
      .first-line {
        font-size: 6px;
        padding: 5px;
      }
    }
  }
  .main {
    h1 {
      font-size: 15px;
    }
    .movie {
      display: flex;
      width: 33%;
      height: 100%;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      img {
        width: 100%;
      }
      .movie-info {
        .favourite-button {
          margin-top: 10px;
          width: 100%;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 7px;
        }
      }
    }
  }
  .pagination {
    .button-field {
      display: flex;
      margin-top: 5px;
      width: 100%;
      height: 10px;
      align-items: center;
      font-size: 7px;

      span {
        display: flex;
      }
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 1499px) {
  .movie-info {
    font-size: 25px;
  }
  .favourite-button {
    font-size: 0.875rem;
  }
  .pagination {
    gap: 40px;
    .current-page {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 1500px) {
  .all-genre {
    width: 60rem;
    .first-line {
      display: flex;
      align-items: center;
      flex: 1 100%;
      justify-content: space-between;
      padding: 20px;
    }
  }
}
